@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>
	<BODY class="@(Model.displayVar("stylename")) function-dashboard">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								@foreach (string _supertop_block in Model.GetSection("supertop_block", this)){
<NAV class="navbar navbar-default" data-location="supertop" id="form_supertop_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_supertop")) data-pageid="@(Model.displayVar("pageid"))">
			 
							 
				<SPAN data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" class="r-align-left navbar-header" data-itemid="logo" @(Model.displayVar("item_logo"))>
				@foreach (string _logo_block in Model.GetSection("logo_block", this)){
	<A data-itemtype="logo" data-itemid="logo" @(Model.displayVar("item_logo")) data-pageid="@(Model.displayVar("pageid"))" class="navbar-brand" href="@(Model.displayVar("home_link"))" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("logo_hiddenattr"))>
		@(Model.displayVar("logo"))
	</A>
}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<SPAN data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" @(Model.displayVar("item_menu")) data-pageid="@(Model.displayVar("pageid"))">
				@(Model.displayVar("menu main horizontal"))			</span>
							 
							 
				<SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="simple_search" @(Model.displayVar("item_simple_search")) data-topcell-item-type="simple_search">
				<SPAN data-itemtype="simple_search" data-itemid="simple_search" @(Model.displayVar("item_simple_search")) data-pageid="@(Model.displayVar("pageid"))" class="form-group">

<div  class="input-group">
@foreach (string _searchform_text in Model.GetSection("searchform_text", this)){
	<INPUT type="search" class="form-control" @(Model.displayVar("searchfor_attrs")) size="25" />
}
	<span class="input-group-btn">
	@foreach (string _searchform_showall in Model.GetSection("searchform_showall", this)){
				<BUTTON class="btn btn-default" @(Model.displayVar("showAllCont_attrs")) @(Model.displayVar("showallbutton_attrs")) title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	}

	@foreach (string _searchform_search in Model.GetSection("searchform_search", this)){
	<BUTTON @(Model.displayVar("searchbutton_attrs")) class="btn btn-primary">
		<span class="glyphicon glyphicon-search"></span>
	</button>
	}
	</span>
</div>
		
</span>			</span>
		 
				<SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="notifications" @(Model.displayVar("item_notifications")) data-topcell-item-type="notifications">
				<DIV class="dropdown" data-itemtype="notifications" data-itemid="notifications" @(Model.displayVar("item_notifications")) data-pageid="@(Model.displayVar("pageid"))" id="notifications@(Model.displayVar("id"))">
	<BUTTON class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notifications			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<A class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="loginform_login" @(Model.displayVar("item_loginform_login")) data-topcell-item-type="loginform_login">
				@foreach (string _guestloginbutton in Model.GetSection("guestloginbutton", this)){
<SPAN data-itemtype="loginform_login" data-itemid="loginform_login" @(Model.displayVar("item_loginform_login")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" href="#" @(Model.displayVar("guestloginlink_attrs"))>
							Login			</a>
</span>
}
			</span>
		 
				<SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="username_button" @(Model.displayVar("item_username_button")) data-topcell-item-type="username_button">
				@foreach (string _loggedas_message in Model.GetSection("loggedas_message", this)){
<SPAN data-itemtype="username_button" data-itemid="username_button" @(Model.displayVar("item_username_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			@foreach (string _userbutton_icon in Model.GetSection("userbutton_icon", this)){							<span class="glyphicon glyphicon-user"></span>
						}@(Model.displayVar("userbutton_image"))			@(Model.displayVar("username"))			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							@foreach (string _userinfo_link in Model.GetSection("userinfo_link", this)){
	<LI data-itemtype="userinfo_link" data-itemid="userinfo_link" @(Model.displayVar("item_userinfo_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="userinfo" title>
				
		User Profile		
		</a>
	</li>
}
							@foreach (string _logoutbutton in Model.GetSection("logoutbutton", this)){
	<LI data-itemtype="logout_link" data-itemid="logout_link" @(Model.displayVar("item_logout_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="#" @(Model.displayVar("logoutlink_attrs")) title>
				
		Log out		
		</a>
	</li>
}
							@foreach (string _adminarea_link in Model.GetSection("adminarea_link", this)){
	<LI data-itemtype="adminarea_link" data-itemid="adminarea_link" @(Model.displayVar("item_adminarea_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="admin_rights/list" title>
				
		Admin Area		
		</a>
	</li>
}
							@foreach (string _changepwd_link in Model.GetSection("changepwd_link", this)){
	<LI data-itemtype="changepassword_link" data-itemid="changepassword_link" @(Model.displayVar("item_changepassword_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="changepwd" @(Model.displayVar("changepwdlink_attrs")) id="changePasswordButton@(Model.displayVar("id"))" title>
				
		Change password		
		</a>
	</li>
}
					</ul>
	</span>
</span>
}
			</span>
								</nav>
}
					@(Model.displayVar("locking"))
			</div>	
			<div data-body-align="left"  data-body-width="full" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	
">
		 
		@foreach (string _breadcrumb in Model.GetSection("breadcrumb", this)){
<OL class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" @(Model.displayVar("item_breadcrumb")) data-pageid="@(Model.displayVar("pageid"))">
<li ><A href="@(Model.displayVar("crumb_home_link"))"><span class="glyphicon glyphicon-home"></span></a>@(Model.displayVar("crumb_dropdown"))</li>
@foreach (string _crumb in Model.GetSection("crumb", this)){
  <LI class="@(Model.displayVar("crumb_item_class"))">
@foreach (string _crumb_title_link in Model.GetSection("crumb_title_link", this)){
	<A @(Model.displayVar("crumb_attrs"))>@(Model.displayVar("crumb_title"))</a>
}
@foreach (string _crumb_title_span in Model.GetSection("crumb_title_span", this)){
	<SPAN @(Model.displayVar("crumb_attrs"))>@(Model.displayVar("crumb_title"))</span>
}	
	@(Model.displayVar("crumb_dropdown"))
  </li>
}
</ol>
}		</div>					</div>
			</div>		
}
					</div>
				<div class="r-content">
										<div class="r-data-block" data-body-width="full" >
						
											<div class="r-above">
			</div>
<div class="r-grid">
	@foreach (string _grid_tabs in Model.GetSection("grid_tabs", this)){
  <ul class="nav nav-tabs bsgrid_tabs">
	@(Model.displayVar("grid_tabs_content"))
  </ul>
}
					@foreach (string _grid_block in Model.GetSection("grid_block", this)){
<TABLE class="r-fluid r-form" data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" data-dashboard>
	<tbody>
											
			<TR @(Model.displayVar("row_grid_0")) data-row-width="2">
									<TD class=" r-ori-vert			" data-cellId="grid_c1" data-pageid="@(Model.displayVar("pageid"))">
</td>
									<TD class=" r-ori-vert			" data-cellId="grid_c" data-pageid="@(Model.displayVar("pageid"))">
</td>
							</tr>
											
			<TR @(Model.displayVar("row_grid_1")) data-row-width="2">
									<TD class=" r-ori-vert			" data-cellId="grid_c2" data-pageid="@(Model.displayVar("pageid"))">
</td>
									<TD class=" r-ori-vert			" data-cellId="grid_c3" data-pageid="@(Model.displayVar("pageid"))">
</td>
							</tr>
		
	</tbody>
</table>
}








	</div>
<div class="r-below">
			</div>




											
					</div>
				</div>
			</div>
		</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
