@using runnerDotNet;
@{
 XTempl Model = this.Model;
 if(ViewBag != null && ViewBag.xt != null)
 {
  Model = ViewBag.xt;
  if(Model != null)
  {
   Model.currentViewContext = ViewContext;
  }
 }
 string webRootPath = "";
}

<!doctype html>@(new HtmlString(MVCFunctions.GetBuferContentAndClearBufer()))
<HTML @(Model.displayVar("html_attrs"))>
	<head>
				<META http-equiv="X-UA-Compatible" content="IE=Edge" />
	<META name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(Model.displayVar("pagetitle"))</title>
	<META http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<BASE href="@(Model.displayVar("projectPath"))" />
		<LINK REL="stylesheet" href="styles/default.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	@foreach (string _rtlCSS in Model.GetSection("rtlCSS", this)){
	<LINK REL="stylesheet" href="styles/defaultRTL.css?@(Model.displayVar("wizardBuildKey"))" type="text/css" />
	}
	@foreach (string _styleCSSFiles in Model.GetSection("styleCSSFiles", this)){
	<LINK REL="stylesheet" href="@(Model.displayVar("stylepath"))" type="text/css" />
	}
			
	</head>
	<BODY class="@(Model.displayVar("stylename")) function-list">
	@foreach (string _body in Model.GetSection("body", this)){
		{Html.RenderSharedView("header");}
		<style>@MvcHtmlString.Create(@"")@(Model.displayVar("containerCss"))@MvcHtmlString.Create(@"")</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								@foreach (string _supertop_block in Model.GetSection("supertop_block", this)){
<NAV class="navbar navbar-default" data-location="supertop" id="form_supertop_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_supertop")) data-pageid="@(Model.displayVar("pageid"))">
			 
							 
				<SPAN data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" class="r-align-left navbar-header" data-itemid="logo" @(Model.displayVar("item_logo"))>
				@foreach (string _logo_block in Model.GetSection("logo_block", this)){
	<A data-itemtype="logo" data-itemid="logo" @(Model.displayVar("item_logo")) data-pageid="@(Model.displayVar("pageid"))" class="navbar-brand" href="@(Model.displayVar("home_link"))" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("logo_hiddenattr"))>
		@(Model.displayVar("logo"))
	</A>
}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<SPAN data-cellId="supertop_c1" data-pageid="@(Model.displayVar("pageid"))" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" @(Model.displayVar("item_menu")) data-pageid="@(Model.displayVar("pageid"))">
				@(Model.displayVar("menu main horizontal"))			</span>
							 
							 
				<SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="simple_search" @(Model.displayVar("item_simple_search")) data-topcell-item-type="simple_search">
				<SPAN data-itemtype="simple_search" data-itemid="simple_search" @(Model.displayVar("item_simple_search")) data-pageid="@(Model.displayVar("pageid"))" class="form-group">

<div  class="input-group">
@foreach (string _searchform_text in Model.GetSection("searchform_text", this)){
	<INPUT type="search" class="form-control" @(Model.displayVar("searchfor_attrs")) size="25" />
}
	<span class="input-group-btn">
	@foreach (string _searchform_showall in Model.GetSection("searchform_showall", this)){
				<BUTTON class="btn btn-default" @(Model.displayVar("showAllCont_attrs")) @(Model.displayVar("showallbutton_attrs")) title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	}

	@foreach (string _searchform_search in Model.GetSection("searchform_search", this)){
	<BUTTON @(Model.displayVar("searchbutton_attrs")) class="btn btn-primary">
		<span class="glyphicon glyphicon-search"></span>
	</button>
	}
	</span>
</div>
		
</span>			</span>
		 
				<SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="list_options" @(Model.displayVar("item_list_options")) data-topcell-item-type="list_options">
				<SPAN data-itemtype="list_options" data-itemid="list_options" @(Model.displayVar("item_list_options")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<LI data-itemtype="advsearch_link" data-itemid="advsearch_link" @(Model.displayVar("item_advsearch_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="m_login/search@(Model.displayVar("stateLink_full"))" @(Model.displayVar("advsearchlink_attrs")) title>
				
		Advanced search		
		</a>
	</li>
							@foreach (string _searchPanelTopButtons in Model.GetSection("searchPanelTopButtons", this)){
	<LI data-itemtype="show_search_panel" data-itemid="show_search_panel" @(Model.displayVar("item_show_search_panel")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A id="showOptPanel@(Model.displayVar("id"))" title>
				
		Show search panel		
		</a>
	</li>
}
							@foreach (string _searchPanelTopButtons_1 in Model.GetSection("searchPanelTopButtons", this)){
	<LI data-itemtype="hide_search_panel" data-itemid="hide_search_panel" @(Model.displayVar("item_hide_search_panel")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A id="hideOptPanel@(Model.displayVar("id"))" title>
				
		Hide search panel		
		</a>
	</li>
}
							<li role="separator" class="divider"></li>							<li role="separator" class="divider"></li>							<li role="separator" class="divider"></li>							@foreach (string _export_link in Model.GetSection("export_link", this)){
	<LI data-itemtype="export" data-itemid="export" @(Model.displayVar("item_export")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="#" @(Model.displayVar("exportlink_attrs")) title>
				
		Export results		
		</a>
	</li>
}
							<li role="separator" class="divider"></li>							@foreach (string _import_link in Model.GetSection("import_link", this)){
	<LI data-itemtype="import" data-itemid="import" @(Model.displayVar("item_import")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A @(Model.displayVar("importlink_attrs")) href="m_login/import@(Model.displayVar("stateLink_full"))" title>
				
		Import		
		</a>
	</li>
}
					</ul>
	</span>
</span>
			</span>
		 
				<SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="notifications" @(Model.displayVar("item_notifications")) data-topcell-item-type="notifications">
				<DIV class="dropdown" data-itemtype="notifications" data-itemid="notifications" @(Model.displayVar("item_notifications")) data-pageid="@(Model.displayVar("pageid"))" id="notifications@(Model.displayVar("id"))">
	<BUTTON class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notifications			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<A class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="loginform_login" @(Model.displayVar("item_loginform_login")) data-topcell-item-type="loginform_login">
				@foreach (string _guestloginbutton in Model.GetSection("guestloginbutton", this)){
<SPAN data-itemtype="loginform_login" data-itemid="loginform_login" @(Model.displayVar("item_loginform_login")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" href="#" @(Model.displayVar("guestloginlink_attrs"))>
							Login			</a>
</span>
}
			</span>
		 
				<SPAN class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="@(Model.displayVar("pageid"))" data-itemid="username_button" @(Model.displayVar("item_username_button")) data-topcell-item-type="username_button">
				@foreach (string _loggedas_message in Model.GetSection("loggedas_message", this)){
<SPAN data-itemtype="username_button" data-itemid="username_button" @(Model.displayVar("item_username_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			@foreach (string _userbutton_icon in Model.GetSection("userbutton_icon", this)){							<span class="glyphicon glyphicon-user"></span>
						}@(Model.displayVar("userbutton_image"))			@(Model.displayVar("username"))			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							@foreach (string _userinfo_link in Model.GetSection("userinfo_link", this)){
	<LI data-itemtype="userinfo_link" data-itemid="userinfo_link" @(Model.displayVar("item_userinfo_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="userinfo" title>
				
		User Profile		
		</a>
	</li>
}
							@foreach (string _logoutbutton in Model.GetSection("logoutbutton", this)){
	<LI data-itemtype="logout_link" data-itemid="logout_link" @(Model.displayVar("item_logout_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="#" @(Model.displayVar("logoutlink_attrs")) title>
				
		Log out		
		</a>
	</li>
}
							@foreach (string _adminarea_link in Model.GetSection("adminarea_link", this)){
	<LI data-itemtype="adminarea_link" data-itemid="adminarea_link" @(Model.displayVar("item_adminarea_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="admin_rights/list" title>
				
		Admin Area		
		</a>
	</li>
}
							@foreach (string _changepwd_link in Model.GetSection("changepwd_link", this)){
	<LI data-itemtype="changepassword_link" data-itemid="changepassword_link" @(Model.displayVar("item_changepassword_link")) data-pageid="@(Model.displayVar("pageid"))" data-small>
				<A href="changepwd" @(Model.displayVar("changepwdlink_attrs")) id="changePasswordButton@(Model.displayVar("id"))" title>
				
		Change password		
		</a>
	</li>
}
					</ul>
	</span>
</span>
}
			</span>
								</nav>
}
					@(Model.displayVar("locking"))
			</div>	
			<div data-body-align="left"  data-body-width="full" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								@foreach (string _top_block in Model.GetSection("top_block", this)){
<DIV class="r-form" data-location="top" id="form_top_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_top")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="top_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_top_c1")) class=" r-ori-vert			col-md-12
	
">
		 
		@foreach (string _breadcrumb in Model.GetSection("breadcrumb", this)){
<OL class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" @(Model.displayVar("item_breadcrumb")) data-pageid="@(Model.displayVar("pageid"))">
<li ><A href="@(Model.displayVar("crumb_home_link"))"><span class="glyphicon glyphicon-home"></span></a>@(Model.displayVar("crumb_dropdown"))</li>
@foreach (string _crumb in Model.GetSection("crumb", this)){
  <LI class="@(Model.displayVar("crumb_item_class"))">
@foreach (string _crumb_title_link in Model.GetSection("crumb_title_link", this)){
	<A @(Model.displayVar("crumb_attrs"))>@(Model.displayVar("crumb_title"))</a>
}
@foreach (string _crumb_title_span in Model.GetSection("crumb_title_span", this)){
	<SPAN @(Model.displayVar("crumb_attrs"))>@(Model.displayVar("crumb_title"))</span>
}	
	@(Model.displayVar("crumb_dropdown"))
  </li>
}
</ol>
}		</div>					</div>
			</div>		
}
					</div>
				<div class="r-content">
										<DIV class="r-left" @(Model.displayVar("blockattr_left")) @(Model.displayVar("form_left"))>
										@foreach (string _left_block in Model.GetSection("left_block", this)){
<TABLE class="r-fluid r-form" data-location="left" id="form_left_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_left")) data-pageid="@(Model.displayVar("pageid"))">
						<tbody>
			
								<TR @(Model.displayVar("row_left_0"))>
									<TD class=" r-ori-vert			" data-cellId="left_c1" data-pageid="@(Model.displayVar("pageid"))">
 
<!-- Begin Search panel content -->
<DIV class="searchOptions panel panel-primary searchPanelContainer " @(Model.displayVar("srchOpt_attrs")) data-itemtype="search_panel" data-itemid="search_panel" @(Model.displayVar("item_search_panel")) data-pageid="@(Model.displayVar("pageid"))">

	<div class="panel-heading">
		<DIV class="btn-group r-sp-addfield" id="addSearchFieldButton@(Model.displayVar("id"))">
			<BUTTON id="showHideControlChooseMenu@(Model.displayVar("id"))" type="button" class="btn btn-default dropdown-toggle btn-sm )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Search in			<span class="caret"></span>
			</button>
		</div>


		<DIV class="btn-group r-sp-options" id="searchPanelOptions@(Model.displayVar("id"))">
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<LI id="showHideSearchType@(Model.displayVar("id"))" @(Model.displayVar("showHideCtrlsOpt_attrs"))><a>Show options</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><INPUT type="radio" name="srchType@(Model.displayVar("id"))" id="radioAll" @(Model.displayVar("all_checkbox")) /><label for="radioAll"><span class="glyphicon">&nbsp;</span>all conditions</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><INPUT type="radio" name="srchType@(Model.displayVar("id"))" id="radioAny" @(Model.displayVar("any_checkbox")) /><label for="radioAny"><span class="glyphicon">&nbsp;</span>any condition</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>hide</a></li>
			</ul>
		</div>


		</div>
	<DIV class="panel-body controlsBlock" @(Model.displayVar("bottomSearchButt_attrs"))>


		
		@foreach (string _searchCtrlBlock in Model.GetSection("searchCtrlBlock", this)){
		<DIV class="srchPanelRow form-group" @(Model.displayVar("filterRow_attrs"))>
			<label>@(Model.displayVar("fLabel"))</label>	@(Model.displayVar("delCtrlButt"))
				<span class="rnr-searchtype">@(Model.displayVar("searchtype"))</span>
				<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol"))</span>
				<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1"))</span>
		</div>
		}
																		@foreach (string _searchCtrlBlock_add_date in Model.GetSection("searchCtrlBlock_add_date", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_add_date"))" @(Model.displayVar("filterRow_attrs_add_date"))>
			<label>@(Model.displayVar("label dbo_m_login add_date"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_add_date"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_add_date"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_add_date"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_username in Model.GetSection("searchCtrlBlock_username", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_username"))" @(Model.displayVar("filterRow_attrs_username"))>
			<label>@(Model.displayVar("label dbo_m_login username"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_username"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_username"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_username"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_password in Model.GetSection("searchCtrlBlock_password", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_password"))" @(Model.displayVar("filterRow_attrs_password"))>
			<label>@(Model.displayVar("label dbo_m_login password"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_password"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_password"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_password"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_login_id in Model.GetSection("searchCtrlBlock_login_id", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_login_id"))" @(Model.displayVar("filterRow_attrs_login_id"))>
			<label>@(Model.displayVar("label dbo_m_login login_id"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_login_id"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_login_id"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_login_id"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_isactive in Model.GetSection("searchCtrlBlock_isactive", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_isactive"))" @(Model.displayVar("filterRow_attrs_isactive"))>
			<label>@(Model.displayVar("label dbo_m_login isactive"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_isactive"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_isactive"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_isactive"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_fullname in Model.GetSection("searchCtrlBlock_fullname", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_fullname"))" @(Model.displayVar("filterRow_attrs_fullname"))>
			<label>@(Model.displayVar("label dbo_m_login fullname"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_fullname"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_fullname"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_fullname"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_email in Model.GetSection("searchCtrlBlock_email", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_email"))" @(Model.displayVar("filterRow_attrs_email"))>
			<label>@(Model.displayVar("label dbo_m_login email"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_email"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_email"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_email"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_edit_user in Model.GetSection("searchCtrlBlock_edit_user", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_edit_user"))" @(Model.displayVar("filterRow_attrs_edit_user"))>
			<label>@(Model.displayVar("label dbo_m_login edit_user"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_edit_user"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_edit_user"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_edit_user"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_edit_date in Model.GetSection("searchCtrlBlock_edit_date", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_edit_date"))" @(Model.displayVar("filterRow_attrs_edit_date"))>
			<label>@(Model.displayVar("label dbo_m_login edit_date"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_edit_date"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_edit_date"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_edit_date"))</span>
						</div>
		}
																@foreach (string _searchCtrlBlock_add_user in Model.GetSection("searchCtrlBlock_add_user", this)){


		<DIV class="form-group srchPanelRow @(Model.displayVar("filterRow_class_add_user"))" @(Model.displayVar("filterRow_attrs_add_user"))>
			<label>@(Model.displayVar("label dbo_m_login add_user"))</label>

							@(Model.displayVar("delCtrlButt"))
			
								<span class="rnr-searchtype">@(Model.displayVar("searchtype_add_user"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol_add_user"))</span>
								<span class="rnr-searchcontrol">@(Model.displayVar("searchcontrol1_add_user"))</span>
						</div>
		}
		

	</div>

	<DIV class="panel-footer bottomSearchButt" @(Model.displayVar("bottomSearchButt_attrs"))>
		<BUTTON class="btn btn-primary btn-sm" id="searchButton@(Model.displayVar("id"))" @(Model.displayVar("searchbutton_attrs"))>Search</button>

				<BUTTON class="btn btn-default btn-sm" @(Model.displayVar("showAllCont_attrs")) @(Model.displayVar("showallbutton_attrs"))>Show all</button>
	</div>
</div>
<!-- End Search panel content -->
</td>
							</tr>
					
					</tbody>
				</table>
}
						</div>
										<div class="r-data-block" data-body-width="full" >
						
											<div class="r-above">
					@foreach (string _above_grid_block in Model.GetSection("above-grid_block", this)){
<DIV class="r-form" data-location="above-grid" id="form_above-grid_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_above-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="above-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c1")) class=" r-ori-vert			col-md-6
	
">
		@foreach (string _firstAboveGridCell in Model.GetSection("firstAboveGridCell", this)){
				}	
	</div>			 
				<DIV data-cellId="above-grid_c2" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_above-grid_c2")) class="r-align-right			col-md-6
	
">
		 
		<SPAN data-itemtype="details_found" data-itemid="details_found" @(Model.displayVar("item_details_found")) data-pageid="@(Model.displayVar("pageid"))" data-small>
@(Model.displayVar("mlp_push"))@(Model.displayVar("mlparam first var first_shown"))@(Model.displayVar("mlparam last var last_shown"))@(Model.displayVar("mlparam total var records_found"))@(Model.mlang_message("DISPLAYING"))@(Model.displayVar("mlp_pop"))</span>	 
		<SPAN data-itemtype="page_size" data-itemid="page_size" @(Model.displayVar("item_page_size")) data-pageid="@(Model.displayVar("pageid"))">
		@(Model.displayVar("recsPerPage"))
</span>	 
		@foreach (string _print_friendly in Model.GetSection("print_friendly", this)){
<SPAN id="printpanelblock@(Model.displayVar("id"))" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("printpanel_hiddenattr")) data-itemtype="print_panel" data-itemid="print_panel" @(Model.displayVar("item_print_panel")) data-pageid="@(Model.displayVar("pageid"))">
	<button title="Print-friendly page" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<DIV id="print_friendly_scope@(Model.displayVar("id"))">
	<div class="row">
		<div class="col-md-4">
			Scope:		</div>

			 
		@foreach (string _print_friendly_all in Model.GetSection("print_friendly_all", this)){
		<div class="col-md-8">
			<LABEL for="printAll@(Model.displayVar("id"))">
				<INPUT type="radio" id="printAll@(Model.displayVar("id"))" data-href="m_login_print.aspx?all=1&amp;@(Model.displayVar("crosstable_attrs"))" name="printScope" />
									Print all pages							</label>
		</div>
		}
		</div>
		<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<LABEL for="printPage@(Model.displayVar("id"))">
				<INPUT name="printScope" id="printPage@(Model.displayVar("id"))" type="radio" checked data-href="m_login_print.aspx?@(Model.displayVar("crosstable_attrs"))" />
				Print this page			</label>
		</div>
	</div>
		
		 
	<div class="row">
		<div class="col-md-4">
			&nbsp;
		</div>
		<div class="col-md-8">
			<LABEL style="color: gray;" for="printSelection@(Model.displayVar("id"))">
			<INPUT name="printScope" disabled="disabled" id="printSelection@(Model.displayVar("id"))" type="radio" />
			Print selected			</label>
		</div>
	</div>
	</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<LABEL for="printPerPage@(Model.displayVar("id"))">
					Records Per Page							
	</label>
	<INPUT type="number" id="printPerPage@(Model.displayVar("id"))" value="@(Model.displayVar("print_recspp"))" class="rnr-printrecspp" />		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<SPAN data-itemtype="print_button" data-itemid="print_button" @(Model.displayVar("item_print_button")) data-pageid="@(Model.displayVar("pageid"))" data-small data-button-item>
	<A type="button" title class="btn btn-primary   
	" id="print_friendly_button@(Model.displayVar("id"))">
							Print			</a>
</span>
				 
					</li>
															</ul>
</span>
}
		</div>					</div>
			</div>		
}
	</div>
<div class="r-grid">
	@foreach (string _grid_tabs in Model.GetSection("grid_tabs", this)){
  <ul class="nav nav-tabs bsgrid_tabs">
	@(Model.displayVar("grid_tabs_content"))
  </ul>
}
					@foreach (string _grid_block in Model.GetSection("grid_block", this)){
foreach (string _message_block in Model.GetSection("message_block", this)){
<DIV data-grid-message data-pageid="@(Model.displayVar("pageid"))" class="alert @(Model.displayVar("message_class"))" role="alert" @(Model.displayVar("grid_message_attrs"))>@(Model.displayVar("message"))</div>
}	<style>@MvcHtmlString.Create(@"
@media screen and (max-width: 767px) {
		[data-pageid=""")@(Model.displayVar("pageid"))@MvcHtmlString.Create(@"""][data-itemtype=""grid_field""][data-field=""login_id""]:before {
		content: """)@(Model.displayVar("label dbo_m_login login_id"))@MvcHtmlString.Create(@""";
	}
			[data-pageid=""")@(Model.displayVar("pageid"))@MvcHtmlString.Create(@"""][data-itemtype=""grid_field""][data-field=""username""]:before {
		content: """)@(Model.displayVar("label dbo_m_login username"))@MvcHtmlString.Create(@""";
	}
			[data-pageid=""")@(Model.displayVar("pageid"))@MvcHtmlString.Create(@"""][data-itemtype=""grid_field""][data-field=""password""]:before {
		content: """)@(Model.displayVar("label dbo_m_login password"))@MvcHtmlString.Create(@""";
	}
			[data-pageid=""")@(Model.displayVar("pageid"))@MvcHtmlString.Create(@"""][data-itemtype=""grid_field""][data-field=""fullname""]:before {
		content: """)@(Model.displayVar("label dbo_m_login fullname"))@MvcHtmlString.Create(@""";
	}
			[data-pageid=""")@(Model.displayVar("pageid"))@MvcHtmlString.Create(@"""][data-itemtype=""grid_field""][data-field=""email""]:before {
		content: """)@(Model.displayVar("label dbo_m_login email"))@MvcHtmlString.Create(@""";
	}
			[data-pageid=""")@(Model.displayVar("pageid"))@MvcHtmlString.Create(@"""][data-itemtype=""grid_field""][data-field=""isactive""]:before {
		content: """)@(Model.displayVar("label dbo_m_login isactive"))@MvcHtmlString.Create(@""";
	}
			[data-pageid=""")@(Model.displayVar("pageid"))@MvcHtmlString.Create(@"""][data-itemtype=""grid_field""][data-field=""add_user""]:before {
		content: """)@(Model.displayVar("label dbo_m_login add_user"))@MvcHtmlString.Create(@""";
	}
			[data-pageid=""")@(Model.displayVar("pageid"))@MvcHtmlString.Create(@"""][data-itemtype=""grid_field""][data-field=""add_date""]:before {
		content: """)@(Model.displayVar("label dbo_m_login add_date"))@MvcHtmlString.Create(@""";
	}
			[data-pageid=""")@(Model.displayVar("pageid"))@MvcHtmlString.Create(@"""][data-itemtype=""grid_field""][data-field=""edit_user""]:before {
		content: """)@(Model.displayVar("label dbo_m_login edit_user"))@MvcHtmlString.Create(@""";
	}
			[data-pageid=""")@(Model.displayVar("pageid"))@MvcHtmlString.Create(@"""][data-itemtype=""grid_field""][data-field=""edit_date""]:before {
		content: """)@(Model.displayVar("label dbo_m_login edit_date"))@MvcHtmlString.Create(@""";
	}
			}")</style>
<TABLE data-location="grid" id="form_grid_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_grid")) data-pageid="@(Model.displayVar("pageid"))" class=" table table-striped table-hover table-bordered r-horizontal-grid  r-flexgrid rnr-b-grid rnr-gridtable" cellpadding="0" data-body-height="1">
						<thead>
			@foreach (string _grid_header in Model.GetSection("grid_header", this)){
			
																									<TR @(Model.displayVar("rowattrs")) @(Model.displayVar("row_grid_0")) class="@(Model.displayVar("rowclass"))
									@(Model.displayVar("gridHeader_class"))
					
								r-gridrow
							">
									@foreach (string _cellblock_grid_headcell_checkbox in Model.GetSection("cellblock_grid_headcell_checkbox", this)){
	<TH @(Model.displayVar("cell_grid_headcell_checkbox")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert			" data-cellId="grid_headcell_checkbox" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="m_login_list" data-checkbox-cell>

	 
		@foreach (string _checkbox_column in Model.GetSection("checkbox_column", this)){
<SPAN data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" @(Model.displayVar("item_grid_checkbox_head")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">
	<INPUT type="checkbox" @(Model.displayVar("checkboxheader_attrs")) />
</span>
}
	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field in Model.GetSection("cellblock_grid_headcell_field", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("login_id_class"))	" data-field="login_id" data-cellId="grid_headcell_field" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _login_id_fieldheadercolumn in Model.GetSection("login_id_fieldheadercolumn", this)){
	foreach (string _login_id_fieldheader in Model.GetSection("login_id_fieldheader", this)){
	<SPAN @(Model.displayVar("login_id_orderlinkattrs")) data-itemtype="grid_field_label" data-itemid="simple_grid_field10" @(Model.displayVar("item_simple_grid_field10")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="login_id" data-fieldname="login_id">
	@(Model.displayVar("label dbo_m_login login_id"))	@(Model.displayVar("arrow_icon_login_id"))
	</SPAN>
	}
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field1 in Model.GetSection("cellblock_grid_headcell_field1", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field1")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("username_class"))	" data-field="username" data-cellId="grid_headcell_field1" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _username_fieldheadercolumn in Model.GetSection("username_fieldheadercolumn", this)){
	foreach (string _username_fieldheader in Model.GetSection("username_fieldheader", this)){
	<SPAN @(Model.displayVar("username_orderlinkattrs")) data-itemtype="grid_field_label" data-itemid="simple_grid_field11" @(Model.displayVar("item_simple_grid_field11")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="username" data-fieldname="username">
	@(Model.displayVar("label dbo_m_login username"))	@(Model.displayVar("arrow_icon_username"))
	</SPAN>
	}
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field2 in Model.GetSection("cellblock_grid_headcell_field2", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field2")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("password_class"))	" data-field="password" data-cellId="grid_headcell_field2" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _password_fieldheadercolumn in Model.GetSection("password_fieldheadercolumn", this)){
	foreach (string _password_fieldheader in Model.GetSection("password_fieldheader", this)){
	<SPAN @(Model.displayVar("password_orderlinkattrs")) data-itemtype="grid_field_label" data-itemid="simple_grid_field12" @(Model.displayVar("item_simple_grid_field12")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="password" data-fieldname="password">
	@(Model.displayVar("label dbo_m_login password"))	@(Model.displayVar("arrow_icon_password"))
	</SPAN>
	}
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field3 in Model.GetSection("cellblock_grid_headcell_field3", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field3")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("fullname_class"))	" data-field="fullname" data-cellId="grid_headcell_field3" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _fullname_fieldheadercolumn in Model.GetSection("fullname_fieldheadercolumn", this)){
	foreach (string _fullname_fieldheader in Model.GetSection("fullname_fieldheader", this)){
	<SPAN @(Model.displayVar("fullname_orderlinkattrs")) data-itemtype="grid_field_label" data-itemid="simple_grid_field13" @(Model.displayVar("item_simple_grid_field13")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="fullname" data-fieldname="fullname">
	@(Model.displayVar("label dbo_m_login fullname"))	@(Model.displayVar("arrow_icon_fullname"))
	</SPAN>
	}
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field4 in Model.GetSection("cellblock_grid_headcell_field4", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field4")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("email_class"))	" data-field="email" data-cellId="grid_headcell_field4" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _email_fieldheadercolumn in Model.GetSection("email_fieldheadercolumn", this)){
	foreach (string _email_fieldheader in Model.GetSection("email_fieldheader", this)){
	<SPAN @(Model.displayVar("email_orderlinkattrs")) data-itemtype="grid_field_label" data-itemid="simple_grid_field14" @(Model.displayVar("item_simple_grid_field14")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="email" data-fieldname="email">
	@(Model.displayVar("label dbo_m_login email"))	@(Model.displayVar("arrow_icon_email"))
	</SPAN>
	}
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field5 in Model.GetSection("cellblock_grid_headcell_field5", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field5")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("isactive_class"))	" data-field="isactive" data-cellId="grid_headcell_field5" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _isactive_fieldheadercolumn in Model.GetSection("isactive_fieldheadercolumn", this)){
	foreach (string _isactive_fieldheader in Model.GetSection("isactive_fieldheader", this)){
	<SPAN @(Model.displayVar("isactive_orderlinkattrs")) data-itemtype="grid_field_label" data-itemid="simple_grid_field15" @(Model.displayVar("item_simple_grid_field15")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="isactive" data-fieldname="isactive">
	@(Model.displayVar("label dbo_m_login isactive"))	@(Model.displayVar("arrow_icon_isactive"))
	</SPAN>
	}
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field6 in Model.GetSection("cellblock_grid_headcell_field6", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field6")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("add_user_class"))	" data-field="add_user" data-cellId="grid_headcell_field6" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _add_user_fieldheadercolumn in Model.GetSection("add_user_fieldheadercolumn", this)){
	foreach (string _add_user_fieldheader in Model.GetSection("add_user_fieldheader", this)){
	<SPAN @(Model.displayVar("add_user_orderlinkattrs")) data-itemtype="grid_field_label" data-itemid="simple_grid_field16" @(Model.displayVar("item_simple_grid_field16")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="add_user" data-fieldname="add_user">
	@(Model.displayVar("label dbo_m_login add_user"))	@(Model.displayVar("arrow_icon_add_user"))
	</SPAN>
	}
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field7 in Model.GetSection("cellblock_grid_headcell_field7", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field7")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("add_date_class"))	" data-field="add_date" data-cellId="grid_headcell_field7" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _add_date_fieldheadercolumn in Model.GetSection("add_date_fieldheadercolumn", this)){
	foreach (string _add_date_fieldheader in Model.GetSection("add_date_fieldheader", this)){
	<SPAN @(Model.displayVar("add_date_orderlinkattrs")) data-itemtype="grid_field_label" data-itemid="simple_grid_field17" @(Model.displayVar("item_simple_grid_field17")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="add_date" data-fieldname="add_date">
	@(Model.displayVar("label dbo_m_login add_date"))	@(Model.displayVar("arrow_icon_add_date"))
	</SPAN>
	}
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field8 in Model.GetSection("cellblock_grid_headcell_field8", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field8")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("edit_user_class"))	" data-field="edit_user" data-cellId="grid_headcell_field8" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _edit_user_fieldheadercolumn in Model.GetSection("edit_user_fieldheadercolumn", this)){
	foreach (string _edit_user_fieldheader in Model.GetSection("edit_user_fieldheader", this)){
	<SPAN @(Model.displayVar("edit_user_orderlinkattrs")) data-itemtype="grid_field_label" data-itemid="simple_grid_field18" @(Model.displayVar("item_simple_grid_field18")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="edit_user" data-fieldname="edit_user">
	@(Model.displayVar("label dbo_m_login edit_user"))	@(Model.displayVar("arrow_icon_edit_user"))
	</SPAN>
	}
}

	
	</th>
	}
									@foreach (string _cellblock_grid_headcell_field9 in Model.GetSection("cellblock_grid_headcell_field9", this)){
	<TH @(Model.displayVar("cell_grid_headcell_field9")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("edit_date_class"))	" data-field="edit_date" data-cellId="grid_headcell_field9" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _edit_date_fieldheadercolumn in Model.GetSection("edit_date_fieldheadercolumn", this)){
	foreach (string _edit_date_fieldheader in Model.GetSection("edit_date_fieldheader", this)){
	<SPAN @(Model.displayVar("edit_date_orderlinkattrs")) data-itemtype="grid_field_label" data-itemid="simple_grid_field19" @(Model.displayVar("item_simple_grid_field19")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="edit_date" data-fieldname="edit_date">
	@(Model.displayVar("label dbo_m_login edit_date"))	@(Model.displayVar("arrow_icon_edit_date"))
	</SPAN>
	}
}

	
	</th>
	}
							</tr>
															
					}
			</thead>
															<tbody>
					@foreach (string _grid_row in Model.GetSection("grid_row", this)){
							
																														<TR @(Model.displayVar("rowattrs")) @(Model.displayVar("row_grid_1")) class="@(Model.displayVar("rowclass"))
				
								r-gridrow
							">
									@foreach (string _cellblock_grid_cell_checkbox in Model.GetSection("cellblock_grid_cell_checkbox", this)){
	<TD @(Model.displayVar("cell_grid_cell_checkbox")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert			" data-cellId="grid_cell_checkbox" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-control-cell data-checkbox-cell>

	 
		@foreach (string _checkbox_column_1 in Model.GetSection("checkbox_column", this)){
<SPAN data-itemtype="grid_checkbox" data-itemid="grid_checkbox" @(Model.displayVar("item_grid_checkbox")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">
	<INPUT type="checkbox" @(Model.displayVar("checkbox_attrs")) />
</span>	
}
	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field in Model.GetSection("cellblock_grid_cell_field", this)){
	<TD @(Model.displayVar("cell_grid_cell_field")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("login_id_class"))	" data-field="login_id" data-cellId="grid_cell_field" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _login_id_fieldcolumn in Model.GetSection("login_id_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field" @(Model.displayVar("item_simple_grid_field")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="login_id" data-fieldname="login_id" data-default-width>
@(Model.displayVar("login_id_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field1 in Model.GetSection("cellblock_grid_cell_field1", this)){
	<TD @(Model.displayVar("cell_grid_cell_field1")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("username_class"))	" data-field="username" data-cellId="grid_cell_field1" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _username_fieldcolumn in Model.GetSection("username_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field1" @(Model.displayVar("item_simple_grid_field1")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="username" data-fieldname="username" data-default-width>
@(Model.displayVar("username_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field2 in Model.GetSection("cellblock_grid_cell_field2", this)){
	<TD @(Model.displayVar("cell_grid_cell_field2")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("password_class"))	" data-field="password" data-cellId="grid_cell_field2" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _password_fieldcolumn in Model.GetSection("password_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field2" @(Model.displayVar("item_simple_grid_field2")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="password" data-fieldname="password" data-default-width>
@(Model.displayVar("password_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field3 in Model.GetSection("cellblock_grid_cell_field3", this)){
	<TD @(Model.displayVar("cell_grid_cell_field3")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("fullname_class"))	" data-field="fullname" data-cellId="grid_cell_field3" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _fullname_fieldcolumn in Model.GetSection("fullname_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field3" @(Model.displayVar("item_simple_grid_field3")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="fullname" data-fieldname="fullname" data-default-width>
@(Model.displayVar("fullname_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field4 in Model.GetSection("cellblock_grid_cell_field4", this)){
	<TD @(Model.displayVar("cell_grid_cell_field4")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("email_class"))	" data-field="email" data-cellId="grid_cell_field4" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _email_fieldcolumn in Model.GetSection("email_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field4" @(Model.displayVar("item_simple_grid_field4")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="email" data-fieldname="email" data-default-width>
@(Model.displayVar("email_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field5 in Model.GetSection("cellblock_grid_cell_field5", this)){
	<TD @(Model.displayVar("cell_grid_cell_field5")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("isactive_class"))	" data-field="isactive" data-cellId="grid_cell_field5" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _isactive_fieldcolumn in Model.GetSection("isactive_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field5" @(Model.displayVar("item_simple_grid_field5")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="isactive" data-fieldname="isactive" data-default-width>
@(Model.displayVar("isactive_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field6 in Model.GetSection("cellblock_grid_cell_field6", this)){
	<TD @(Model.displayVar("cell_grid_cell_field6")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("add_user_class"))	" data-field="add_user" data-cellId="grid_cell_field6" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _add_user_fieldcolumn in Model.GetSection("add_user_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field6" @(Model.displayVar("item_simple_grid_field6")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="add_user" data-fieldname="add_user" data-default-width>
@(Model.displayVar("add_user_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field7 in Model.GetSection("cellblock_grid_cell_field7", this)){
	<TD @(Model.displayVar("cell_grid_cell_field7")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("add_date_class"))	" data-field="add_date" data-cellId="grid_cell_field7" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _add_date_fieldcolumn in Model.GetSection("add_date_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field7" @(Model.displayVar("item_simple_grid_field7")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="add_date" data-fieldname="add_date" data-default-width>
@(Model.displayVar("add_date_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field8 in Model.GetSection("cellblock_grid_cell_field8", this)){
	<TD @(Model.displayVar("cell_grid_cell_field8")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("edit_user_class"))	" data-field="edit_user" data-cellId="grid_cell_field8" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _edit_user_fieldcolumn in Model.GetSection("edit_user_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field8" @(Model.displayVar("item_simple_grid_field8")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="edit_user" data-fieldname="edit_user" data-default-width>
@(Model.displayVar("edit_user_value"))
</span>
}	
	</td>
	}
									@foreach (string _cellblock_grid_cell_field9 in Model.GetSection("cellblock_grid_cell_field9", this)){
	<TD @(Model.displayVar("cell_grid_cell_field9")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("edit_date_class"))	" data-field="edit_date" data-cellId="grid_cell_field9" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	 
		@foreach (string _edit_date_fieldcolumn in Model.GetSection("edit_date_fieldcolumn", this)){
<SPAN data-itemtype="grid_field" data-itemid="simple_grid_field9" @(Model.displayVar("item_simple_grid_field9")) data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-field="edit_date" data-fieldname="edit_date" data-default-width>
@(Model.displayVar("edit_date_value"))
</span>
}	
	</td>
	}
							</tr>
										
											}
					</tbody>
													<tfoot>
			
																																			<TR @(Model.displayVar("rowattrs")) @(Model.displayVar("row_grid_2")) class="@(Model.displayVar("rowclass"))
									@(Model.displayVar("gridFooter_class"))
					
								r-gridrow
							">
									@foreach (string _cellblock_grid_footcell_checkbox in Model.GetSection("cellblock_grid_footcell_checkbox", this)){
	<TD @(Model.displayVar("cell_grid_footcell_checkbox")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert			" data-cellId="grid_footcell_checkbox" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field in Model.GetSection("cellblock_grid_footcell_field", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("login_id_class"))	" data-cellId="grid_footcell_field" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="m_login_list">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field1 in Model.GetSection("cellblock_grid_footcell_field1", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field1")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("username_class"))	" data-cellId="grid_footcell_field1" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="m_login_list">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field2 in Model.GetSection("cellblock_grid_footcell_field2", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field2")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("password_class"))	" data-cellId="grid_footcell_field2" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="m_login_list">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field3 in Model.GetSection("cellblock_grid_footcell_field3", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field3")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("fullname_class"))	" data-cellId="grid_footcell_field3" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="m_login_list">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field4 in Model.GetSection("cellblock_grid_footcell_field4", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field4")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("email_class"))	" data-cellId="grid_footcell_field4" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="m_login_list">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field5 in Model.GetSection("cellblock_grid_footcell_field5", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field5")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("isactive_class"))	" data-cellId="grid_footcell_field5" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="m_login_list">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field6 in Model.GetSection("cellblock_grid_footcell_field6", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field6")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("add_user_class"))	" data-cellId="grid_footcell_field6" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="m_login_list">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field7 in Model.GetSection("cellblock_grid_footcell_field7", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field7")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("add_date_class"))	" data-cellId="grid_footcell_field7" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="m_login_list">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field8 in Model.GetSection("cellblock_grid_footcell_field8", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field8")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("edit_user_class"))	" data-cellId="grid_footcell_field8" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="m_login_list">

	
	</td>
	}
									@foreach (string _cellblock_grid_footcell_field9 in Model.GetSection("cellblock_grid_footcell_field9", this)){
	<TD @(Model.displayVar("cell_grid_footcell_field9")) @(Model.displayVar("recordattrs")) class="
		 r-ori-vert		 @(Model.displayVar("edit_date_class"))	" data-cellId="grid_footcell_field9" data-pageid="@(Model.displayVar("pageid"))" data-record-id="@(Model.displayVar("recId"))" data-page="m_login_list">

	
	</td>
	}
							</tr>
					
					</tfoot>
				</table>
}
	</div>
<div class="r-below">
					@foreach (string _below_grid_block in Model.GetSection("below-grid_block", this)){
<DIV class="r-form" data-location="below-grid" id="form_below-grid_@(Model.displayVar("pageid"))" data-makeup="topbar" @(Model.displayVar("form_below-grid")) data-pageid="@(Model.displayVar("pageid"))">		
	 
				<div class="row">
			 
				<DIV data-cellId="below-grid_c1" data-pageid="@(Model.displayVar("pageid"))" @(Model.displayVar("cell_below-grid_c1")) class="r-align-center r-ori-vert			col-md-12
	
">
		 
		@foreach (string _pagination_block in Model.GetSection("pagination_block", this)){
<SPAN data-itemtype="pagination" data-itemid="pagination" @(Model.displayVar("item_pagination")) data-pageid="@(Model.displayVar("pageid"))">
@(Model.displayVar("pagination"))
</span>
}
		</div>					</div>
			</div>		
}
	</div>




											
					</div>
				</div>
			</div>
		</div>
		{Html.RenderSharedView("footer");}
	}
	</body>
</html>
